:root{
    --fondoPrincipal: #5d04d9;
    --azulOscuro: #03318c;
    --moradoOscuro: #8c0375;
    /* --moradolila: #c004d9; */
    /* --morado: #9303a6; */
    --textoPrincipal: #ffffff;
    --titulos-bordes: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*! SECCION DE HEADER  */

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fondoPrincipal);
    color: var(--textoPrincipal);
    height: 5em;
    box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.40);
}

.header__hearts{
    display: flex;
    gap: .3em;
}

.heart i{
    color: red;
}

.header__tittle{
    margin-left: .1em;
}

main{
    display: flex;
    margin: 5em 5em;
    justify-content: center;
    gap: 3em;
}

/* SECCION DE PRODUCTO */

.container-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    
}

.product__tittle, .form__tittle{
    width: 50%;
    text-align: center;
    margin-bottom: 1.5em;
}

.product{
    display: grid;
    grid-template-columns: repeat(3, 190px);
    grid-template-rows: auto;
    /* grid-auto-flow: row; */
    gap:1em;
    padding: 1em;

    height: 35em;

    box-shadow:  -10px 12px 8px 0px rgba(0,0,0,0.40);
    overflow-y: scroll;
    scrollbar-width: thin;
    
}


.product__item{
    background: var(--fondoPrincipal);
    border: 3px solid var(--titulos-bordes);
    color:var(--textoPrincipal);
    border-radius: 10px;
    width: max-content;
    height: max-content;
    padding: .5em;
}

.product-img{
    width: 170px;
    height: 170px;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--negro);
    border-radius: 10px;
}

.product__text{
    margin: .5em 0;
}

.text--tittle{
    width: 170px;
}
.text--price-icon{
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
}

.trash-icon{
    cursor: pointer;
}

/* SECCION DE FORMULARIO */
.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
    width: max-content;
}

.formulario{
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap:1em;
    row-gap: 2em;
}

.formulario input{
    padding: 10px;
    border-radius: 15px;
}

.form--input{
    border: 3px solid var(--azulOscuro);
}

.form--input::placeholder{
    color: var(--azulOscuro);
    font-weight: bold;
}

.form__btns{
    display: flex;
    justify-content: space-around;
}

.form__btns .btn{
    padding: 8px 30px;
    border-radius: 10px;
    border: 3px solid var(--azulOscuro);
    cursor: pointer;
}

#btn-submit{
    background: var(--azulOscuro);
    color: var(--textoPrincipal);
    transition: all .5s ease;
}

#btn-submit.creado{
    background: var(--moradoOscuro);
    border: 2px solid var(--moradoOscuro);
    color: var(--textoPrincipal);
}

#btn-limpiar{
    background: var(--textoPrincipal);
    color:var(--azulOscuro);
}

#spanImage{
    color: var(--azulOscuro);
    margin-top: -1.6em;
    margin-left: 5px;
    /* border:2px solid red; */
}

/* SECCION DE FOOTER  */
footer{
    background: var(--fondoPrincipal);
    text-align: center;
    color: var(--textoPrincipal);
    padding: 2em 0;
    margin-top: 10em;
    box-shadow: 0px -10px 8px 0px rgba(0,0,0,0.40);
}

footer p{
    margin-top: 1.5em;
}

footer #header{
    box-shadow: none;
}


@media (max-width: 853px) {
    main{
        margin: 5em 0;
        gap:0;
        flex-direction: column;
        align-items: center;
        row-gap: 5em;
    }

    .container-form{
        width: 100%;
    }

    .formulario{
        width: 100%;
        align-items:center;
    }

    .form--input{
        width: 290px;
    }

    .form__btns{
        justify-content: space-around;
        gap: 2em;
    }
}

@media (max-width: 600px) {
    .product{
        grid-template-columns: repeat(2, 190px);
        
    }
}
@media (max-width: 392px){
    main{
        margin-top: 2em;
    }

    .product__tittle, .form__tittle{
        margin-bottom: 1em;
    }
    .product{
        grid-template-columns: repeat(1, 190px);
        height: 25em;
    }


}